[Unit]
Description=String Match Server
After=network.target

[Service]
Type=simple
User=dave
WorkingDirectory=/path/to/project/string_match_server
Environment="PYTHONPATH=/path/to/project/string_match_server"
# Add this environment variable to make the relative paths work
Environment="DATA_DIR=/path/to/project/string_match_server/data"
Environment="SECURITY_DIR=/path/to/project/string_match_server/security"
ExecStart=/usr/bin/python3 /path/to/project/string_match_server/server/main.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target